<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="assets/css/reset.css" type="text/css" />
		<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="assets/css/style.css" media="screen" title="no title">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<title>HUNT & GATHER</title>
	</head>

	<body>
	<div class="flexContainer">
		<header id="banner">
			<div id="headerImage">
				<a href="/"><img src="assets/img/logo.png" alt="logo"></a>
			</div>
				<nav id="navBar">
					<ul id="loggedOut">
						<li><a href="#">Create Account</a></li>
						<input type="text" name="username" placeholder="username">
						<input type="text" name="password" placeholder="password">
					</ul>
					<ul id="loggedIn">
						<li><img src="{{userimage}}" alt="profileImage"></li>
						<li>{{username}}</li>
					</ul>
				</nav>

		</header>
	</div>
		{{{ body }}}

		<script type="text/javascript">
		$(document).ready(function(){
			$("#loggedIn").hide();
		})
		</script>
	</body>
</html>
