 <h2>Dashboard</h2>
   <h5>Hurray! you are logged in.</h5>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <h1></h1>
       



       <h1>First Item:<!-- {{[0].dataValues.name}} --></h1>
       {{!-- <h1>{{loc}}</h1> --}}
        <ul>
        logged in as
            {{this.user.name}}
            {{#each this}}
             
            {{#each this.loc}}
            <li >
                {{this.name}}
                <a>{{this.name}}</a>

                
            </li>
            {{/each}}

            {{/each}}
        </ul>