<!DOCTYPE html>





    <h2>Dashboard</h2>
    <h5>Hurray! you are logged in.</h5>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>
        <h1>YOUR NAME</h1>
         <ul>
             {{#each Locations}}
             <li class= "locationChart">
                 {{this.name}}
             </li>
             {{/each}}
         </ul>




