<div>
  <form id="forgotPassword" name="forgotPassword" method="post" action="forgotPassword">
      <label for="email">Email</label>
      <input class="text" name="email" type="text" />
      <input class="btn" type="submit" value="Reset Password" />
  </form>
</div>
