<main class="flexContainer">

<article id="monthlyChallengeIntro">



<h2>This Month's Hunt:</h2>

	<span><h1>TACOS!</h1></span>

	<div id="monthlyDisplay" class="displayBox">

	<div class="displayImages">

		<span data-tilt data-tilt-max="50" data-tilt-speed="400" data-tilt-perspective="500" data-tilt-scale="1.1"><img class="taco" src="assets/img/redTaco.png"></span>
		<span data-tilt data-tilt-max="50" data-tilt-speed="400" data-tilt-perspective="500" data-tilt-scale="1.1"><img class="taco" src="assets/img/yellowTaco.png"></span>
		<span data-tilt data-tilt-max="50" data-tilt-speed="400" data-tilt-perspective="500" data-tilt-scale="1.1"><img class="taco" src="assets/img/greenTaco.png"></span>
		<span data-tilt data-tilt-max="50" data-tilt-speed="400" data-tilt-perspective="500" data-tilt-scale="1.1"><img class="taco" src="assets/img/blueTaco.png"></span>
	</div>
		
		<div id="introText">
			<p>Hey Hunters!! Here is your monthly mission if you choose to accept it: Seek out and destroy our delectable list of the best tacos in town. For this challenge we've teamed up with Zagat to bring you the best of the best. We've got everything from old stand-bys to new favorites. There's something for everyone! <a href="https://www.zagat.com/b/austin/tacos-every-austinite-needs-to-try" target="_blank">Read the article</a> and get your tastebuds ready because this month's hunt promises to be the cheesiest, meatiest, avocadoest challenge in Hunt & Gather history! </p>

			<p>And if this is your first time to Hunt & Gather, create an account, start hunting, and join our community of users! It's completely free.</p>

		</div>


	</div>

</article>

<aside id="createPrompt">
	<h2>Start Hunting Today!</h2>

		<div id="createDisplay" class="displayBox">

			

			<div id="createForm">
			  <form id="signup" name="signup" method="post" action="/signup">
			      <label for="username"></label>
			      <input class="text" name="username" type="text" size="30" placeholder="Username" />
			      <label for="name"></label>
			      <input name="name" type="text" size="30" placeholder="Name" />
			      <label for="email"></label>
			      <input name="email" type="email" size="30" placeholder="Email"/>
			      <label for="password"></label>
			      <input name="password" type="password" id="password" size="30" placeholder="Password" />
			      <label for="verifyPassword"></label>
			      <input name="verifyPassword" type="password" id="verifyPassword" size="30" placeholder="Verify Password"/>

			       <button id="createAccountButton" type="submit" action="/signup">CREATE ACCOUNT</button>
			   <!--    <input class="btn" type="submit" value="Sign Up" /> -->
			  </form>

			</div>


		


	</div>
	<h2>It's Free!</h2>
</aside>






</main>
