<main class="flexContainer">

<article id="monthlyChallengeIntro">



<h2>This Month's Hunt:</h2>

	<span><h1>TACOS!</h1></span>

	<div id="monthlyDisplay" class="displayBox">

	<div class="displayImages">

		<span><img src="http://placehold.it/150x150"></span>
		<span><img src="http://placehold.it/150x150"></span>
		<span><img src="http://placehold.it/150x150"></span>
		<span><img src="http://placehold.it/150x150"></span>
	</div>

		<p>Hey Hunters!! Here is your monthly mission if you choose to accept it: Seek out and destroy our delectable list of the best tacos in town.  </p>

	</div>

</article>

<aside id="createPrompt">

	<div id="createDisplay" class="displayBox">

		<h2>Start Hunting Today!</h2>

		<div id="createForm">
		  <form id="signup" name="signup" method="post" action="/signup">
		      <label for="username">Username</label>
		      <input class="text" name="username" type="text" />
		      <label for="name">Name</label>
		      <input name="name" type="text" />
		      <label for="email">Email</label>
		      <input name="email" type="email" />
		      <label for="password">Password</label>
		      <input name="password" type="password" id="password" />
		      <label for="verifyPassword">Verify Password</label>
		      <input name="verifyPassword" type="password" id="verifyPassword" />

		      <button id="createAccountButton" type="submit" action="/signup">CREATE ACCOUNT</button>
		   <!--    <input class="btn" type="submit" value="Sign Up" /> -->
		  </form>
		</div>


		<h2>It's Free!</h2>


	</div>
</aside>






</main>
