<section class="container admin">
	<article class="row">
		<div id="map" class="col-md-5"></div>
		<input id="pac-input" class="controls" type="text" placeholder="Search Box">
		<div id="locSearch" class="col-md-2"></div>
		<div class="col-md-5">
			<div id="results">

			</div>
			<button id="submit" type="button" class="btn btn-default">Send to database</button>
		</div>

	</article>
	<article class="row">
		<div id="locDatabase" class="col-md-12">

		</div>

		<div>

		</div>
	</article>
</section>
<script src="/js/addPlace.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWY05iVSVo-RPujdQuiYw2IKD85QqXO60&libraries=places&callback=initAutocomplete" async defer></script>
