<div id="reviewContainer">


  <div id="wrapperWrapper">
    <h2>Rate and Review: {{this.location.name}}</h2>
    <div id="formWrapper">


      <div class="stars">

        <form id="rating" name="rating" method="post" action="/api/rating">

          <input class="star star-5" id="star-5" type="radio" name="star" value=5 />

          <label class="star star-5" for="star-5"></label>

          <input class="star star-4" id="star-4" type="radio" name="star" value=4 />

          <label class="star star-4" for="star-4"></label>

          <input class="star star-3" id="star-3" type="radio" name="star" value=3 />

          <label class="star star-3" for="star-3"></label>

          <input class="star star-2" id="star-2" type="radio" name="star" value=2 />

          <label class="star star-2" for="star-2"></label>

          <input class="star star-1" id="star-1" type="radio" name="star" value=1 />

          <label class="star star-1" for="star-1"></label>

          <input type="hidden" name="locationId" id="locationId" value= {{this.location.id}}>

          <h3> Leave a Review <span><h4>(This will be publically viewable)</h4></span></h3>
          <textarea name="review" rows="4" cols="130"></textarea>


          <h3> Leave a Note <span><h4>(This will be only be viewable by you)</h4></span></h3>
          <textarea name="note" rows="4" cols="130"></textarea>


          <input class="btn btn-default btn-md" type="submit">
        </form>
      </div>
    </div>
  </div>
</div>
